* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aliceblue;
}

#form-container {
    border: 1px solid black;
    height: 100%;
    width: 100px;
    margin-top: 100px;
    align-self: center;
}
